#flash-display
  - flash.each do |type, msg|
    %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
      %button.close &times;
      = msg if msg.is_a?(String)
= form_tag uploads_path, :multipart => true do
  = file_field_tag 'file', multiple: true
  = submit_tag "Import"